body {
    background-color: #000f26 !important;
}
.main-header {
    background: url(./../img/header-bg-4.png) center no-repeat;
    background-size: cover;

    .navbar-nav {
        .nav-item {
            .nav-link {
                border-bottom: transparent 2px solid;
                display: block;
                width: max-content;
                &:hover {
                    border-bottom-color: #379700;
                }
            }
        }
    }
}

.filter-modal-btn {
    background-color: bisque;
    aspect-ratio: 1;
    padding: 10px;
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
